/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// MY CODE BEGINS HERE

$regular : 'poppins regular';

body {
    background-color: white;
    color: black;
    font-family: $regular Arial, Helvetica;
}

:root {
    --primary-color: black;
    --secondary-color: white;
}

.dark-theme {
    background-color: black;
    color: white;
    --primary-color: white;
}

section {
    font-family: $regular;
    padding: 2em 0em;
    height: auto;
}

header {

    .container {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;

        nav {
            display: none;
        }
    }
}


button {
    height: 3em;
    width: 10em;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

.purple-button {
    color: white;
    background-color: #880096;
    border:none;
}

.purple-button:hover {
    color: rgb(136, 0, 156);
    background-color: white;
    border: 3px solid rgb(136, 0, 156);
}

.banner {
    
    .col-lg-4 {

        h1 {
            font-size: 2em;
            line-height: 1em;
        }

        p {
            padding-top: 1em;
            line-height: 1.5em;
        }

        .buttons {

            padding-top: 1em;
            display: flex;

            #white-button {
                background-color: white;
                color: black;
                border-width: 0.3em 0.5em;
                border-color: rgb(136, 0, 150);
                margin-left: 2em;
            }

            #white-button:hover {
                color:rgb(136, 0, 156);
                border-width: 0.2em;
            }
        }

        .boxes {

            padding-top: 1em;

            .box {

                padding-top: 0.5em;
                display: flex;

                p {
                    padding-bottom: 1em;
                    padding-left: 0.50em;
                    letter-spacing: 0.05em;
                }

                p:hover {
                    color: rgb(136, 0, 150);
                    cursor: pointer;
                }

                img:hover {
                    cursor: pointer;
                }
            }
            
        }
    }

    .col-md-3 {
        text-align: center;
    }

}

h2 {
    font-size: 1.2em;
    padding-bottom: 1.8em;
    font-weight: 1800;
}

.about {

    p {
        font-size: 1em;
        line-height: 1em;
        letter-spacing: 0.02em;
        word-spacing: 0.1em;
        font-size: 1.1em;
        width: 26em;
    }

    .container {
       
        p {
            width: 100%;
        }
    }

    .images {

        display: flex;
        padding-top: 1.5em;

        .img1, .img2 {
            width: 20%;
        }

        .img-2 {
            margin-top: 3em;
        }
    }

    button {
        margin-top: 1em;
        background-color: rgb(136, 0, 150);
        height: 3em;
        width: 10em;
        color: white;
        border: none;
    }

    .video-info {
        margin: 1em 0  0 1em;
    }
}

.services {

    .col-md-4 {

        position: relative;
        display: flex;
        justify-content: center;

        h3 {
            position: absolute;
            bottom: 0;
            padding-bottom: 2em;
            color: white;
            font-size: 1.5em;
        }
        
        .overlay {
            opacity: 0;
            position: absolute;
            background-color: rgb(136, 0, 150);
            color: white;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2em;
            cursor: pointer;

            h4 {
                font-size: 1.3em;
                padding: 1em 0em;
                margin-right: 8em;
            }

            h4:hover {
                text-decoration: underline;
            }

            img {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            ol {
    
                list-style-type: numeric;
                font-size: 1.2em;
                line-height: 2.5em;
            
                li:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
    
        }
    
        .overlay:hover {
            opacity: 1;
            transition: all 0.7s ease;
        }

        .img-arrow {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

}

.testimonials {

    h3, h4 {
        padding: 0.25em 0;
        font-weight: bolder;
        font-size: 1.2em;
        letter-spacing: 0.07em;
    }

    h4 {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 0.5em;
        line-height: 1.2em;
        letter-spacing: 0.02em;
        word-spacing: 0.1em;
        font-size: 1.1em;
        width: 100%;
        font-weight: 100;
    }

    .col-md-6 {
        padding-top: 1em;
    }

}

.gram {
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .heading {
        width: 100%;
    }

    .col-md-4 {
        text-align: center;
    }

    p {
        font-size: 1.5em;
        padding-top: 1em;
    }

    #follow-button {
        background-color: rgb(136, 0, 150);
        color: white;
        border: none;
        font-size: 1em;
        height: 2.5em;
        width: 6em;
        margin-top: 2em;
    }

    #follow-button:hover {
        background-color: white;
        color: rgb(136, 0, 156);
        border: 3px solid rgb(136, 0, 156);
        transition: all 0.3s ease;
    }
}

footer {

    background-color:rgb(136, 0, 156);
    color: white;
    line-height: 1.5em;
    font-weight: bold;
    font-family: $regular;

    .container {
    
        padding: 1em 0em;

        .row {

            a {
                text-decoration: none;
                color: white;
            }
            
            .col-md-3 {
                display: flex;
                flex-direction: column;
                margin: 0 7em;
            }
        }

    }

    p {
        margin-top: 1em;
    }

    .tigzozo-logo {
        width: 30%;
        height: auto;
        display: flex;
        justify-content: flex-start;
    }

    .rights {
        padding-right: 1em;
        line-height: 0.5em;
    }

    #address {
        line-height: 1em;
        margin-top: 1em;
    }

    .social-icons {
        width: 15%;
        height: auto;
        padding: 1em 0px;
    }

    h3 {
        font-size: 1.2em;

        a {
            border-bottom: 3px solid white;
        }
    }

    img:hover {
        cursor: pointer;
    }
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

    header {
    
        .container {

            #logo-image {
                width: 10%;

                img {
                    width: 100%;
                }
            }

            #theme-image {
                width: 3%;
                margin-right: 12em;

                img {
                    width: 100%;
                }
            }

            nav {

                display: block;
                display: flex;
                justify-content: space-between;
                margin-left: 5em;

                ul {
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        color: var(--primary-color);
                        font-family: $regular;
                        font-size: 0.8em;
                        font-weight: 700;
                        letter-spacing: 0.07em;
                    }

                    a:hover {
                        color: rgb(136, 0, 150);
                        border-bottom: 3px solid rgb(189, 131, 195);
                        transition: all 0.2s ease;
                    }

                    li {
                        padding-right: 1em;
                    }
                }
            }
        }
    }

    .about {

        .images {
            
            .img-2 {
                padding-top: 0.7em;
            }
        }

    }

    .rights {
        padding-left: 1em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    header {

        .container {

            #logo-image {
                width: 10%;
                img {
                    width: 100%;
                }
            }
            
            #theme-image {
                width: 3%;
                margin-right: 12em;
                img {
                    width: 100%;
                }
            }
        
            nav {
        
                display: block;
                display: flex;
                justify-content: space-between;
                margin-left: 5em;
        
                ul {
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    justify-content: space-between;
        
                    a {
                        text-decoration: none;
                        color: var(--primary-color);
                        font-family: $regular;
                        font-size: 1em;
                        font-weight: 700;
                        letter-spacing: 0.07em;
                    }
        
                    a:hover {
                        color: rgb(136, 0, 150);
                        border-bottom: 3px solid rgb(189, 131, 195);
                        transition: all 0.2s ease;
                    }
        
                    li {
                        padding-right: 1em;
                    }
                }
            }
        }
    }

    .about {

        .images {

            .img-2 {
                padding-top: 6em;
            }
        }

    }
    
    .col-lg-4 {
        margin-top: 3em;
    }

    .col-lg-2:nth-child(even) {
        padding-top: 3em;
    }

    .gram .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer {

        #space-between {
                height: 6em;
            }
        }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {}